.idea/
__pycache__
utils/app_credentials.json
database/database.db
IDs/
utils/command_names.json
utils/team_threads.json
utils/pug_settings.json
utils/service_account.json
webserver/static/bulma-css/node_modules
*.db