hypercorn
mojang
requests
pytz
pandas
discord.py==1.7.1
discord_py_slash_command==2.0.4
beautifulsoup4
lxml
gspread
asyncio
aiohttp
bs4
python-dateutil
matplotlib
discord
Pillow
Quart==0.14.1
quart_discord
Markdown
