{% extends 'page_template.html' %}
{% block title %}{{event.title}} - Winston{% endblock %}
{% block head %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{event.title}} - Winston</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bulma-css/css/main.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/anime.min.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/functions.js')}}"></script>
    <meta property="og:title" content="{{event.title}}"/>
    <meta content="Start Time: {{event.time_est}}"
          property="og:description">
    <meta content="{{url_for('.event', event_id=event.event_id)}}" property="og:url">
    <meta content="{{url_for('static', filename='images/winston-small.jpg')}}" property="og:image">
    <meta content="#71368a" data-react-helmet="true" name="theme-color">
{% endblock %}


{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
            Event - {{event.title}}
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="box">
            <h4 class="title is-4">{{event.title}}</h4>
            <p><strong>Start Time:</strong> <code>{{event.time_est}}</code></p>
            <p><strong>Signup Deadline:</strong> <code>{{event.signup_deadline}}</code></p>
            <p><strong>ID:</strong> <code>{{event.event_id}}</code></p>
            <hr>
            {{event.description|safe}}
            <hr>
            {% if signups %}
            <h4 class="title is-4">Signups:</h4>
            <div class="columns">
                <div class="column is-one-third">
                    <h2 class="subtitle">Can Play</h2>
                    {% for signup in signups %}
                    {% if signup.can_play %}
                    <div>
                        <span>{{signup.user}}</span>
                        {% if signup.player %}
                        <span> ({{ signup.player.minecraft_username }})</span>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="column">
                    <h2 class="subtitle">Can Sub</h2>
                    {% for signup in signups %}
                    {% if signup.can_sub %}
                    <div>
                        <span>{{signup.user}}</span>
                        {% if signup.player %}
                        <span> ({{ signup.player.minecraft_username }})</span>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% for signup in signups %}
                {% if signup.player and ( signup.can_play or signup.can_sub ) %}
                <span>
                    <img src="https://cravatar.eu/helmavatar/{{ signup.player.minecraft_username }}/64.png" alt="">
                </span>
                {% endif %}
                {% endfor %}
            {% else %}
            <h4 class="title is-4">No signups ;(</h4>
            <p>Try refreshing this page!</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}