{% extends 'page_template.html' %}
{% block title %}{{event.title}} - Winston{% endblock %}
{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
            Event - {{event.title}}
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="box">
            <h4 class="title is-4">{{event.title}}</h4>
            <p><strong>Start Time:</strong> <code>{{event.time_est}}</code></p>
            <p><strong>Signup Deadline:</strong> <code>{{event.signup_deadline}}</code></p>
            <p><strong>ID:</strong> <code>{{event.event_id}}</code></p>
            <hr>
            {{event.description|safe}}
            <hr>
            <h4 class="title is-4">Signups:</h4>
            <div class="columns">
                <div class="column is-one-third">
                    {% for signup in signups %}
                    <div>
                        <span>{{signup.user}}</span>
                        {% if signup.player %}
                        <span> ({{ signup.player.minecraft_username }})</span>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="column">
                    {% for signup in signups %}
                    {% if signup.player %}
                    <span>
                        <img src="https://cravatar.eu/helmavatar/{{ signup.player.minecraft_username }}/64.png" alt="">
                    </span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}